/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/stats
/public/uploads
/public/images
/public/sitemap.xml
/composer.lock
composer.lock
error/*
favicon.ico
index.html
.env.sqlsrv
/storage/*.*
package-lock.json